
body {
  font-family: 'Oxygen', sans-serif;
  font-size: 21px;
  color: #666666;
  line-height: 1.4em;
}

h1, h2, h3, h4 {
  font-family: 'Open Sans', sans-serif;
  font-variant: small-caps;
  color: #058fa1;
}

a {
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  text-decoration: none;
  color: #257f91;
}

a:hover {
  color: #353fb1;
}

img {
  margin-left: 6px;
  margin-right: 6px;
}

img.floatright {
  float: right;
  overflow: hidden;
}

img.floatleft {
  float: left;
  overflow: hidden;
}


div.outer {
  max-width: 1000px;
  padding-bottom: 10px;
  background-color: #ffffff;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
}

div.content-wrapper {
}


div.header {
  text-align: center;
  overflow: hidden;
  position: relative;
}


h1 {
  font-weight: normal;
}

div.header h1 {
  font-size: 50px;
  font-variant: small-caps;
  font-style: normal;
  margin: 10px 0px -6px 0px;
}

div.toplinks {
  font-weight: bold;
  font-variant: small-caps;
  font-size: large;
  width: 100%;
  margin: 8px 0px 8px 0px;
}

div.toplinks ul {
  margin: 0px 0px 0px 0px;
  padding: 3px 0px 3px 0px;
}

div.toplinks ul > li {
  display: inline-block;
  display: inline;
  padding: 0px 10px 0px 10px;
}

div.header img {
  margin: 0px;
}

div.footer {
  margin-top: 10px;
  text-align: center;
  font-size: small;
}
